<ion-view view-title="">
    <ion-nav-buttons side="right">
        <Button class="button" ng-click="goToStations()">
            Stations
        </Button>
    </ion-nav-buttons>
  	<ion-content ng-init="init()">
        <div map-lazy-load="https://maps.google.com/maps/api/js">
        <ng-map id="stations-map" center="12.8797, 121.7740" zoom="6"
          map-type-control-options="{ position: 'TOP_RIGHT' }" disable-default-u-i="true">

          <custom-marker ng-repeat="station in stations track by $index"
            id="station-marker-{{$index}}"
            ng-if="station.station.latitude && station.station.longitude"
            on-click="showInfobox($index, station)"
            position="{{[station.station.latitude, station.station.longitude]}}">
            <div class="station-marker {{getStatus(station)}} ">
              <span ng-if="!station.is_online"> Offline </span>
              <span class="no-wrap" ng-if="station.is_online">
                <span ng-bind="capsFirstLetter(station.highest_pollutant)" style="white-space: nowrap;"></span>
                (<span ng-bind="station.highest_pollutant_value | number : 0"> </span>)
              </span>
            </div>
          </custom-marker>

          <!-- <info-window id="station-details">
            <div class="text-center station-details-box">
              <div ng-show="vm.readings[vm.infobox.station.id].is_online">
                <div id="mini-cautionary-image" class="padding-20"
                  style="background-image: url('/assets/images/{{vm.getReadingEquivalent(vm.readings[vm.infobox.station.id].highest_pollutant_value)}}.png')"
                  ng-show="vm.readings[vm.infobox.station.id].highest_pollutant_value !== undefined"></div>
              </div>

              <strong ng-bind-html="vm.infobox.station.station_name ? vm.makeNameUnbreakable(vm.infobox.station.station_name) : '-'"></strong>
              <p class="text-muted" ng-bind-html="vm.infobox.station.address ? vm.makeNameUnbreakable(vm.infobox.station.address) : '-'"></p>

              <div ng-hide="vm.readings[vm.infobox.station.id].is_online" class="maintenance">
                <strong> NO AQI DATA AVAILABLE AT THE MOMENT </strong>
              </div>

              <div ng-show="vm.readings[vm.infobox.station.id].is_online">
                <h5 id="basis" ng-show="vm.readings[vm.infobox.station.id].highest_pollutant_value !== null">
                  Calculated AQI
                  (<span ng-bind="vm.readings[vm.infobox.station.id].highest_pollutant"></span> -
                  <span ng-bind="vm.readings[vm.infobox.station.id].highest_pollutant_value | number : 0"></span>)
                </h5>

                <div ng-show="vm.readings[vm.infobox.station.id].highest_pollutant_value !== undefined">
                  Status <br />
                  <span ng-bind="vm.getReadingEquivalent(vm.readings[vm.infobox.station.id].highest_pollutant_value).toUpperCase()"></span>
                </div>

                <br />
                <div ng-show="vm.readings[vm.infobox.station.id].highest_pollutant_value !== undefined">
                  Cautionary Statement <br />
                  <span ng-bind-html="vm.readings[vm.infobox.station.id].cautionary_statement"></span>
                </div>
              </div>
            </div>
          </info-window> -->


          <info-window id="station-details">
            <div class="text-center station-details-box" style="padding-left: 20px;">
              <div ng-show="station.station.is_online">
                <!-- <div id="mini-cautionary-image" class="padding-20"
                  style="background-image: url('/assets/images/{{vm.getReadingEquivalent(vm.readings[vm.infobox.station.id].highest_pollutant_value)}}.png')"
                  ng-show="vm.readings[vm.infobox.station.id].highest_pollutant_value !== undefined"></div> -->
                <img ng-show="station.station.is_online" ng-src="{{getEmoji(station)}}" style="width: 28px; height: 28px; margin-top: 20px">
              </div>



              <strong ng-bind-html="station.station.station_name ? station.station.station_name : '-'"></strong>
              <p class="text-muted" ng-bind-html="station.station.address ? station.station.address : '-'"></p>

              <div ng-hide="station.station.is_online" class="maintenance">
                <strong> NO AQI DATA AVAILABLE AT THE MOMENT </strong>
              </div>

              <div ng-show="station.station.is_online">
                <h5 id="basis">
                  Calculated AQI
                  (<span ng-bind="station.highest_pollutant"></span> -
                  <span ng-bind="station.highest_pollutant_value | number : 0"></span>)
                </h5>

                <div ng-show="station.highest_pollutant_value !== undefined">
                  Status <br />
                  <span ng-bind="station.concern_level"></span>
                </div>

                <br />
                <div ng-show="station.highest_pollutant_value !== undefined">
                  Cautionary Statement <br />
                  <span ng-bind-html="station.cautionary_statement"></span>
                </div>
              </div>
            </div>
          </info-window>

          <custom-control id="legend" position="TOP_LEFT" index="1" ng-click="clickLegend()">
            <div class="row">
              <div id="square" style="background-color: #2EB050"></div> Good 
            </div>
            <div class="row">
              <div id="square" style="background-color: #FFFF00"></div> Fair 
            </div>
            <div class="row">
              <div id="square" style="background-color: #E46C0B"></div> Unhealthy for sensitive group 
            </div>
            <div class="row">
              <div id="square" style="background-color: #F90F01"></div> Very Unhealthy 
            </div>
            <div class="row">
              <div id="square" style="background-color: #7030A0"></div> Acutely Unhealthy 
            </div>
            <div class="row">
              <div id="square" style="background-color: #990500"></div> Emergency 
            </div>

            <!-- <div class="legend-item fair"> Fair </div>
            <div class="legend-item unhealthy"> Unhealthy for sensitive group </div>
            <div class="legend-item very-unhealthy"> Very Unhealthy </div>
            <div class="legend-item acutely-unhealthy"> Acutely Unhealthy </div>
            <div class="legend-item emergency"> Emergency </div> -->
          </custom-control>
        </ng-map>
      </div>
  	</ion-content>
</ion-view>
