<ion-modal-view style="background-color: transparent;">
  <ion-content style="padding-top: 150px;margin: 20px;">
    <div style="background-color: white;">
      
        <div class="modal-title" style="padding-top:20px; text-align: center;">
          <p>Other Pollutants</p>
        </div>

        <div ng-repeat="pollutant in otherPollutants"> 
          <div style="height: 44px; text-align: center;">
            <button style="min-width: 97%; border-radius: 5px; border: 0; height: 36px; margin: 4px; background-color: {{fetchColor(pollutant)}}" ng-click="modal.hide(); buildReadings(pollutant.pollutant_name, pollutant.pollutant_value)">{{pollutant.pollutant_name}}</button>
          </div>
        </div>
        

        <div style="height: 44px; text-align: center; margin-top: 20px">
          <button style="min-width: 97%; border-radius: 5px; border: 0; height: 36px; margin: 4px; background-color: #ADD8E6;" ng-click="modal.hide()">Cancel</button>
        </div>
    </div>

    <!-- <div class="bar" >
      <button style="min-width:100%; border-radius:5px; background-color: #ADD8E6; color: black;" class="button" ng-click="modal.hide()">Cancel</button>      
    </div> -->

  </ion-content>
</ion-modal-view>
