<ion-view view-title="Stations">
  	<ion-content ng-init="init()">
    	<ion-list>
      		<ion-item class="item-borderless" ng-repeat="station in stations">
        	
        		<!-- <div class="card row" style="margin-left: -5px; margin-right: -5px; margin-top: -10px; margin-bottom: -10px; padding: 0px" ng-click="showDetails(station)"> -->
                <div class="card row" style="padding: 0px; margin: 0px; margin-bottom: -5px; margin-top: -5px;" ng-click="showDetails(station)">
        			<div class="col col-10" style="background-color: {{getColor(station)}};">
        				
        			</div>
        			<div class="col col-80" style="margin-left: -15px; background-color: white">
        				<h2 class="row" style="font-size: 12px">{{station.station.station_name}}</h2>
        				<p class="row" style="font-size: 10px; white-space: normal; line-height: 1">{{station.station.address}}</p>
        				<span ng-hide="!station.station.is_online" class="row" style="color: lightgray; font-size: 10px">Status</span>
        				<span ng-hide="!station.station.is_online" class="row" style="font-size: 10px;margin-top: -10px">{{station.concern_level}}</span>
        				<span ng-hide="!station.station.is_online" class="row" style="color: lightgray; font-size: 10px">Cationary Statement</span>
        				<span ng-hide="!station.station.is_online" class="row" style="font-size: 10px;margin-top: -10px;white-space: normal; line-height: 1"">{{station.cautionary_statement}}</span>
        				<span ng-hide="!station.station.is_online" class="row" style="color: lightgray; font-size: 10px">Reading as of</span>
        				<span ng-hide="!station.station.is_online" class="row" style="font-size: 10px;margin-top: -10px">{{station.reading_date}}</span>

        				<span ng-show="!station.station.is_online" class="row" style="font-size: 10px;margin-top: 10px">Station is under maintenance</span>
        			</div>
        			<div class="col col-10" >
        				<img ng-hide="!station.station.is_online" ng-src="{{getEmoji(station)}}" style="width: 28px; height: 28px; margin-top: 20px">
        			</div>
        		</div>
      		</ion-item>
    	</ion-list>
  	</ion-content>
</ion-view>
