<ion-view style="background-color: white">
  	<ion-content ng-init="init()" style="background: linear-gradient(to top, {{bgColor}}, white)">

  		<div style="width: 100%; text-align: center; margin-top: 20px;padding: 20px; font-size: 12px;">
			<img ng-hide="checkCurrentPollutant()" ng-src="{{getEmoji()}}" style="width: 56px; height: 56px;">
			<div style="height: 75px" ng-show="checkCurrentPollutant()"></div>
			<div style="font-size: 16px; font-weight: 500;">{{reading.station.station_name}}</div>
			<div>{{reading.station.address}}</div>

			<div style="margin-top: 20px;" ng-show="checkCurrentPollutant()">{{selectedPollutant.pollutant_name}}</div>
			<div style="margin-top: 20px;" ng-hide="checkCurrentPollutant()">Calculated AQI ({{selectedPollutant.pollutant_name}})</div>
			<div>for {{reading.created_at | date:'MMM dd, yyyy h:00a'}}</div>
			<div style="font-size: 48px; font-weight: 500; margin-top: 15px;">{{selectedPollutant.pollutant_value | number: 0}}</div>
			
			<div style="margin-top: 30px" ng-hide="checkCurrentPollutant()">Status</div>
			<div ng-hide="checkCurrentPollutant()">{{reading.concern_level}}</div>

			<div style="margin-top: 10px" ng-hide="checkCurrentPollutant()">Cautionary Statement</div>
			<div ng-hide="checkCurrentPollutant()"	>{{reading.cautionary_statement}}</div>
		</div>

  		<div style="height: 90px;"></div>
    	
  	</ion-content>
  
	<ion-footer-bar style="height:45px !important">
	    <div class="bar" style="position:absolute; bottom:0;text-align:center;padding:4px;" >
	       	<button style="min-width:100%; border-radius:5px; background-color: {{bgColor}}; color: black;" class="button" ng-click="modal.show()">Other Parameters</button>       
	    </div>
  	</ion-footer-bar>

  	<ion-footer-bar style="height:45px !important" class='bar-subfooter'>
	    <div class="bar" style="position:absolute; bottom:0;text-align:center;padding-top: 4px;" >
	       	<button style="min-width:100%; border-radius:5px; background-color: {{bgColor}}; color: black;" class="button" ng-click="showGraph()">Show Graph</button>       
	    </div>
  	</ion-footer-bar>
</ion-view>
