<ion-view style="background-color: white">
  	<ion-content ng-init="init()" style="background: linear-gradient(to top, {{bgColor}}, white)">

  		<div style="width: 100%; text-align: center; margin-top: 20px">
			<img ng-hide="!reading.is_online" ng-src="{{getEmoji()}}" style="width: 56px; height: 56px;">
		</div>

  		<div style="height: 90px;"></div>
    	
  	</ion-content>
  
	<ion-footer-bar style="height:45px !important">
	    <div class="bar" style="position:absolute; bottom:0;text-align:center;padding:4px;" >
	       	<button style="min-width:100%; border-radius:5px; background-color: {{bgColor}}; color: black;" class="button" ng-click="changePollutant()">Other Parameters</button>       
	    </div>
  	</ion-footer-bar>

  	<ion-footer-bar style="height:45px !important" class='bar-subfooter'>
	    <div class="bar" style="position:absolute; bottom:0;text-align:center;padding-top: 4px;" >
	       	<button style="min-width:100%; border-radius:5px; background-color: {{bgColor}}; color: black;" class="button" ng-click="showGraph()">Show Graph</button>       
	    </div>
  	</ion-footer-bar>
</ion-view>
